/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* COMPONENTS */

/* STYLE */

h1 {
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: blue;
    color: white;
}

li {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

i {
    cursor: pointer;
}

/* UTILITIES */

/* DEBUG */